<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BabyDaysAppGroup</key>
	<string>$(APP_GROUP_ID)</string>
	<key>UIAppFonts</key>
	<array>
		<string>ZCOOLKuaiLe-Regular.ttf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>babydays</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
